.cart-dropdown {
    position: fixed;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
  
    .empty-message {
      text-align: center;
      font-size: 18px;
      margin-top: 100px;
      color: gray;
    }

    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    
      &::-webkit-scrollbar {
        width: 5px;
        height: 10px;
      }
    
      &::-webkit-scrollbar-track {
        margin-top: 10px;
        margin-bottom: 10px;
    }

      &::-webkit-scrollbar-thumb {
        background: rgb(90, 90, 90);
        border-radius: 3px;
      }
    }
  
    button {
      margin-top: auto;
      padding: 0;
    }
  }
  