.collection-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @media screen and (max-width: 380px) {
      margin: 0 10px;
    }
  
    .title {
      font-size: 38px;
      margin: 0 auto 30px;
    }
  
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      margin: 0 auto;
      @media screen and (max-width: 1250px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      @media screen and (max-width: 1050px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media screen and (max-width: 770px) {
        grid-template-columns: 1fr 1fr;
      }
      
      @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
      }
  
      & .collection-item {
        margin: 0 auto;
      }
    }
  }
  