.sign-up {
    display: flex;
    flex-direction: column;
    width: 450px;
    text-align: center;
  
    .title {
      margin: 0;
    }

    @media screen and (max-width: 500px) {
      button {
        width: 100%;
      } 
    }
    
    .mistake {
        margin-top: 20px;
        cursor: pointer;
        text-decoration: underline;
    }
  }
  