.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
  
    .logo-container {
        font-weight: 600;
        font-size: 20px;

    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
        display: flex;
      }
    }
  }
  