.burger-container {
  display: none;
  position: fixed;
  height: 70px;
  padding: 20px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  box-shadow: 0 1px 10px rgb(83, 83, 83);
  background-color: black;
  z-index: 99;

  @media screen and (max-width: 600px) {
    display: flex;
  }

  .burger-bars {
    height: 40px;
    width: 40px;

    & svg{
      height: 100%;
      width: 100%;
      color: white;
    }
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    right: 0;
    width: 80%;
    height: 1500px;
    background-color: white;
    z-index: 2;
    box-shadow: 0 1px 10px rgb(117, 117, 117);

    .showBurgerMenu {
      animation: showBurgerMenu .3s ease;
    }

    .hideBurgerMenu {
      animation: hideBurgerMenu .3s ease;

    }
    .nav-menu-items {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 0;
      padding: 20px;
      gap: 15px;
    }

    .nav-menu-item {
      font-size: 20px;
      width: 100%;

      & a {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

}

@keyframes showBurgerMenu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideBurgerMenu {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}