.shopping-cart {
    width: 80%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @media screen and (max-width: 520px) {
      width: 100%;
    }
  
    .cart-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-block {
        text-transform: capitalize;
      }

    }
  
    .total {
      margin-left: auto;
      font-size: 25px;
      @media screen and (max-width: 520px) {
        margin: 0 auto;
  
      }
    }

    .test-warning {
      color: red;
      text-align: center;
      position: absolute;
      bottom: 40px;
    }
  }
  